h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
h2{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
h3{
    font-size: 25px;
    font-weight: 500;
}
p{
    font-size: 18px;
    font-weight: 400;
}
.col{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}
header nav{
    width: 70%;
    text-align: right;
}
nav ul li{
    display: inline;
    list-style-type:none;
    padding: 0 10px;
    flex-direction: column;
}
header li a {
    font-size: 20px;
    font-weight: 700;
}
header .logo{
    width: 30%;
}
header .row img{
    height: 60px;
}
#eslogan .col{
    width: 100%;
    text-align: center;
}
#eslogan .row img{
    height: 300px;

}
#nosotros .col img{
    height: 300px;
}
#experencia .col{
    width: calc(100% / 2 - 40px);
    text-align: center;
}
#nosotros .col{
    width: calc(100% / 2 - 20px);
    text-align: center;
}
#referencias .col img{
    height: 50px;
}
#referencias .col{
    width: calc(100% / 3 - 20px);
    text-align: center;
    
}

#cabeza{
    background: url(https://img.freepik.com/foto-gratis/fondo-pantalla-abstracto-nebulosa-ultra-detallado-4_1562-749.jpg?t=st=1718122220~exp=1718125820~hmac=ab93d33d8ff42b18657742be32bbd827b297999adb5dd6c268249b2da40f4f45&w=740);
    padding: 100px 0 100px 0;

    text-align: center;
}